<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">Login</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form class="form-horizontal" ng-submit="vm.login()">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.user.username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.user.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
