<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-click="mainVm.navCollapsed = !mainVm.navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ui-sref="home" ng-click="mainVm.navCollapsed = true">ShinyPocket</a>
    </div>

    <div uib-collapse="mainVm.navCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a ui-sref="account" ng-click="mainVm.navCollapsed = true">My Accounts</a></li>
            <li><a ui-sref="category" ng-click="mainVm.navCollapsed = true">Categories</a></li>
            <li uib-dropdown>
                <a href="#" uib-dropdown-toggle>Report <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li><a ui-sref="report.monthly({ year: mainVm.currentYear, month: mainVm.currentMonth })" ng-click="mainVm.navCollapsed = true">Monthly Report</a></li>
                    <li><a ui-sref="report.monthly({ year: mainVm.currentYear })" ng-click="mainVm.navCollapsed = true">Yearly Report</a></li>
                    <li><a ng-click="vm.navCollapsed = true">Pie Diagram</a></li>
                    <li><a ng-click="vm.navCollapsed = true">Cashflow</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="!mainVm.isAuthenticated">
            <li ui-sref-active="active"><a href="#" ui-sref="login" ng-click="mainVm.navCollapsed = true">Login</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="signup" ng-click="mainVm.navCollapsed = true">Signup</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right visible-xs" ng-if="mainVm.isAuthenticated">
            <li><a ng-click="mainVm.openAddExpenseModal(); mainVm.navCollapsed = true;">Add expense</a></li>
            <li><a ng-click="mainVm.openAddIncomeModal(); mainVm.navCollapsed = true">Add income</a></li>
            <li><a ng-click="mainVm.logout()">Logout</a></li>
        </ul>
        <div class="navbar-right hidden-xs" ng-if="mainVm.isAuthenticated">
            <div class="btn-group">
                <button type="button" ng-click="mainVm.openAddExpenseModal(); mainVm.navCollapsed = true;" class="btn btn-danger navbar-btn">Add expense</button>
                <button type="button" ng-click="mainVm.openAddIncomeModal(); mainVm.navCollapsed = true;" class="btn btn-success navbar-btn">Add income</button>
            </div>
            <button type="button" ng-click="mainVm.logout()" class="btn btn-link navbar-btn">Logout</button>
        </div>
    </div>
</div>