<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="reports">Report</a></li>
            <li class="active">Monthly Report</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Monthly Report - {{ vm.details.year }} / {{ vm.details.month }}</h1>
                <p class="lead">
                    <span>Incomes: <span class="label label-success"><i class="glyphicon glyphicon-triangle-top"></i> {{ vm.sum.income }} {{ mainVm.loggedInUser.currency }}</span></span> /
                    <span>Expenses: <span class="label label-danger"><i class="glyphicon glyphicon-triangle-bottom"></i> {{ vm.sum.expense }} {{ mainVm.loggedInUser.currency }}</span></span> /
                    <span>Balance: <span class="label label-default"><i class="glyphicon glyphicon-piggy-bank"></i> {{ vm.sum.total }} {{ mainVm.loggedInUser.currency }}</span></span>
                </p>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <button class="btn btn-default btn-sm" ui-sref="reports.monthly({ year: vm.details.prevYear, month: vm.details.prevMonth })"><i class="glyphicon glyphicon-arrow-left"></i> Previous month ({{ vm.details.prevYear }} / {{ vm.details.prevMonth }})</button>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="btn-group" uib-dropdown>
                        <button class="btn btn-default btn-sm" uib-dropdown-toggle>
                            <i class="glyphicon glyphicon-cog" ></i> Filter Account <strong ng-if="vm.accountFilter != null">({{ vm.accountFilter }})</strong> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li><a ui-sref="reports.monthly({ account: '', page: '1' })"><i class="glyphicon glyphicon-remove"></i> No filter</i></a></li>
                            <li class="divider"></li>
                            <li ng-repeat="account in vm.accounts" ui-sref-active="active"><a ui-sref="reports.monthly({ account: account._id, page: '1' })"><i class="{{ account.icon }}"></i> {{ account.name }}</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" uib-dropdown>
                        <button class="btn btn-default btn-sm" uib-dropdown-toggle>
                            <i class="glyphicon glyphicon-cog" ></i> Filter Category <strong ng-if="vm.categoryFilter != null">({{ vm.categoryFilter }})</strong> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li><a ui-sref="reports.monthly({ category: '', page: '1' })"><i class="glyphicon glyphicon-remove"></i> No filter</i></a></li>
                            <li class="divider"></li>
                            <li ng-repeat="category in vm.categories" ui-sref-active="active"><a ui-sref="reports.monthly({ category: category._id, page: '1' })"><i class="{{ category.icon }}"></i> {{ category.name }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <button class="btn btn-default btn-sm" ui-sref="reports.monthly({ year: vm.details.nextYear, month: vm.details.nextMonth })"><i class="glyphicon glyphicon-arrow-right"></i> Next month ({{ vm.details.nextYear }} / {{ vm.details.nextMonth }})</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-12" ng-show="vm.report.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in vm.report" ng-class="data.type == 'income' ? 'success' : (data.type == 'expense' ? 'danger' : '')">
                <td>{{ data.date | date: 'yyyy-MM-dd' }}</td>
                <td>{{ data.account.name }}</td>
                <td>{{ data.category.name }}</td>
                <td>{{ data.amount }} {{ mainVm.loggedInUser.currency }}</td>
                <td>{{ data.note }}</td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager" ng-show="vm.pagination.current">
                <li class="previous" ng-class="{disabled: !vm.pagination.prev}">
                    <a ui-sref="reports.monthly({ page: vm.pagination.prev })"><i class="glyphicon glyphicon-triangle-left"></i> Previous</a>
                </li>
                <li class="disabled">
                    <a ui-sref="reports.monthly({ page: 1 })">{{ vm.pagination.current }} / {{ vm.pagination.numberOfPages }}</a>
                </li>
                <li class="next" ng-class="{disabled: !vm.pagination.next}">
                    <a ui-sref="reports.monthly({ page: vm.pagination.next })">Next <i class="glyphicon glyphicon-triangle-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-12" ng-show="vm.report.length == 0">
        <p class="text-center">No result.</p>
    </div>
</div>