<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="reports">Report</a></li>
            <li><a ui-sref="reports.yearly({ year: mainVm.currentYear })">Yearly Report</a></li>
            <li class="active">Pie Chart</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Yearly Report - {{ vm.details.year }}</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <button class="btn btn-default btn-sm" ui-sref="reports.yearlychart({ year: vm.details.prevYear })"><i class="glyphicon glyphicon-arrow-left"></i> Previous year ({{ vm.details.prevYear }})</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-default btn-sm" ui-sref="reports.yearlychart({ year: vm.details.nextYear })"><i class="glyphicon glyphicon-arrow-right"></i> Next year ({{ vm.details.nextYear }})</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Categories
            </div>
            <div class="panel-body">
                <nvd3 options="vm.options" data="vm.data.categories"></nvd3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Accounts
            </div>
            <div class="panel-body">
                <nvd3 options="vm.options" data="vm.data.accounts"></nvd3>
            </div>
        </div>
    </div>
</div>