<div class="col-sm-12">
    <div class="jumbotron">
        <h1>ShinyPocket v1.0</h1>
        <p>Coursera - Full Stack Development Specialization Capstone Project</p>
        <blockquote>by Péter Halász</blockquote>
    </div>
</div>