<div class="modal-header {{ vm.modal.background }}">
    <button type="button" class="close" aria-hidden="true" ng-click="$close()">x</button>
    <h4 class="modal-title">{{ vm.modal.title }}</h4>
</div>
<div class="modal-body {{ vm.modal.background }}">
    <form class="form-horizontal" ng-submit="vm.save()">
        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">Amount:</label>
            <div class=" col-sm-10">
                <div class="input-group">
                    <input type="number" class="form-control" id="amount" ng-model="vm.cashflow.amount"/>
                    <span class="input-group-addon">{{ mainVm.loggedInUser.currency }}</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Date:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date" ng-model="vm.cashflow.date"/>
            </div>
        </div>
        <div class="form-group">
            <label for="account" class="col-sm-2 control-label">Account:</label>
            <div class="col-sm-10">
                <select class="form-control" id="account" ng-model="vm.cashflow.account">
                    <option ng-repeat="account in vm.accounts" value="{{ account._id }}">{{ account.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Category:</label>
            <div class="col-sm-10">
                <select class="form-control" id="category" ng-model="vm.cashflow.category">
                    <option ng-repeat="category in vm.categories" value="{{ category._id }}">{{ category.name }}</option>
                </select>
            </div>
        </div>
        <hr/>
        <textarea class="form-control" placeholder="Note... (optional)" ng-model="vm.cashflow.note"></textarea>
    </form>
</div>
<div class="modal-footer {{ vm.modal.background }}">
    <button type="button" class="btn btn-default" ng-click="$close()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
</div>