<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">My accounts</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <p class="lead"><i class="glyphicon glyphicon-plus"></i></p>
                <p>New Account</p>
            </div>
            <div class="panel-body text-center">
                <button class="btn btn-primary btn-xs" ui-sref="account.new">Click here to add new account</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" ng-repeat="account in vm.accounts">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <p class="lead"><i class="{{ account.icon }}"></i></p>
                <p>{{ account.name }}</p>
            </div>
            <div class="panel-body text-center">
                <button class="btn btn-info btn-xs" ui-sref="reports.monthly({ year: mainVm.currentYear, month: mainVm.currentMonth, account: account._id })">View report</button>
                <button class="btn btn-info btn-xs" ui-sref="account.edit({ id: account._id })">Edit</button>
                <button class="btn btn-info btn-xs" ng-click="vm.openAccountDeleteModal(account._id);">Delete</button>
            </div>
        </div>
    </div>
</div>