<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="account">My accounts</a></li>
            <li class="active">{{ vm.title }}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" ng-submit="vm.save()">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.account.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Icon:</label>
                <div class="col-sm-10 form-control-static">
                    <label ng-repeat="icon in vm.icons" style="margin: 1px" class="btn btn-default" ng-class="icon == vm.account.icon ? 'btn-primary' : 'btn-default'" ng-model="vm.account.icon" uib-btn-radio="icon" ng-><i class="{{ icon }}"></i></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p>{{ vm.account.icon }}</p>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" ui-sref="account">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>