<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="$close()">x</button>
    <h4>Delete Account</h4>
</div>
<div class="modal-body">
    Are you sure you want to delete this account?
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()">No</button>
    <button class="btn btn-primary" ng-click="vm.deleteAccount()">Yes</button>
</div>