<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">My categories</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <p class="lead"><i class="glyphicon glyphicon-plus"></i></p>
                <p>New Category</p>
            </div>
            <div class="panel-body text-center">
                <button class="btn btn-primary btn-xs" ui-sref="category.new">Click here to add new category</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" ng-repeat="category in vm.categories">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <p class="lead"><i class="{{ category.icon }}"></i></p>
                <p>{{ category.name }}</p>
            </div>
            <div class="panel-body text-center">
                <button class="btn btn-info btn-xs" ui-sref="reports.monthly({ year: mainVm.currentYear, month: mainVm.currentMonth, category: category._id })">View report</button>
                <button class="btn btn-info btn-xs" ui-sref="category.edit({ id: category._id })">Edit</button>
                <button class="btn btn-info btn-xs" ng-click="vm.openCategoryDeleteModal(category._id);">Delete</button>
            </div>
        </div>
    </div>
</div>